
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
  }


.container {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    background-color: rgb(248, 245, 241);
    border-color: rgb(144, 144, 159);
    border-style: solid;

}

.showbar {
    grid-area: 1/1/2/5;
    background-color: rgb(232, 246, 195);
    border-color: rgb(145, 160, 160);
    border-style: solid;
    padding-left: 5px;
}

.cells {
    display: flex;
    border-radius: 15px !important;
    background-color: rgb(184, 215, 111) !important;
    border: none !important;
    color: black !important;
}

.operators {
    background-color: rgb(159, 198, 198) !important;
}